@inherits LayoutComponentBase

<PageTitle>SmardenV3</PageTitle>

<div class="page">
    <div class="sidebar">
        <button class="closebtn" @onclick="CloseNav">&times;</button>
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @if (width == 0)
            {
                <button class="openbtn" @onclick="OpenNav">&#9776; Open Sidebar</button>
            }
            else
            {
                <h2>Collapsed Sidebar</h2>
            }
            @Body
        </article>
    </main>
</div>

@code {
    int width = 0;
    string sidebarWidth => $"width: {width}px;";
    string mainMargin => $"margin-left: {width}px;";
    void OpenNav() => width = 250;
    void CloseNav() => width = 0;
}