@page "/login"
@using SmardenV3.Shared.logInNOut.SigninPartial

<h1 class="p-2" id="login-header">Welcome</h1>

<p>Enter your email and password to log in to your account.</p>

<SigninPartial />

<p>Don't have an account? <NavLink class="text-purple" href="signup">Sign Up</NavLink> to create one now.</p>