body {
  background-color: #7f00ff; /* purple background */
}

.login-form {
  max-width: 500px; /* set the maximum width of the form*/
  margin: 0 auto; /* center the form on the page*/
  padding: 20px; /* add some padding around the form*/
  background-color: rgba(
    123,
    65,
    181,
    0.279
  ); /* white background for the form*/
}

.form-control {
  background-color: #eee;
  border: none;
  color: #333;
  padding: 10px;
}

.error-message {
  color: #f00;
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto; /* center the form on the page*/
  margin-top: 20px;
}
