@using SmardenV3.Data
@inject IUserService UserService
@inject ProtectedSessionStorage ProtectedSessionStore
@inject NavigationManager NavManager
@namespace SmardenV3.Shared.logInNOut.LogOutPartial

<button class="btn btn-dark @CustomClass" @onclick="Logout">Logout</button>

@code {
    [Parameter]
    public string? CustomClass { get; set; }
    public EventCallback<MouseEventArgs> OnLogOutCallback { get; set; }
    private async Task Logout()
    {
        await ProtectedSessionStore.SetAsync("user", null!);
        NavManager.NavigateTo("/");
        await OnLogOutCallback.InvokeAsync();
    }
}