@page "/gardens"
@using Syncfusion.Blazor.Grids
@using SmardenV3.Data
@inject NavigationManager NavManager
@inject IGardenService GardenService
@inject ProtectedSessionStorage ProtectedSessionStore


@{
    var InitSearch = (new string[] { "GardenID", "Name" });
    var Tool = (new List<string>() { "Search" });
}

<h3 class="text-info">Gardens</h3><br>

<SfGrid DataSource="@gardens" AllowPaging="true" AllowSorting="true" Toolbar="@ToolbarItems">
    <GridEvents OnActionComplete="ActionComplete" TValue="GardenData"></GridEvents>
    <GridSearchSettings Fields=@InitSearch Operator=Syncfusion.Blazor.Operator.Contains IgnoreCase="true">
    </GridSearchSettings>
    <GridEditSettings AllowEditing="true" AllowAdding="true" AllowDeleting="true" Mode="EditMode.Normal">
    </GridEditSettings>
    <GridColumns>
        <GridColumn Field="@nameof(GardenData.GardenID)" HeaderText="Garden ID" IsPrimaryKey="true" IsIdentity="true">
        </GridColumn>
        <GridColumn Field="@nameof(GardenData.Name)" HeaderText="Garden Name"></GridColumn>
    </GridColumns>
</SfGrid>


@code {
    List<string> ToolbarItems = new List<string> { "Add", "Edit", "Delete", "Update", "Cancel" };
    private IEnumerable<GardenData> gardens = Array.Empty<GardenData>();
    UserData? loggedInUser = new UserData() { };
    protected override async Task OnInitializedAsync()
    {
        var result = await ProtectedSessionStore.GetAsync<UserData>("user");
        loggedInUser = result.Success ? result.Value : null;
        if (loggedInUser != null)
        {
            gardens = await GardenService.GetUsersGardens(loggedInUser.UserID);
            await ProtectedSessionStore.SetAsync("gardens", gardens);
        }
        else
        {
            NavManager.NavigateTo("/login");
        }
    }
    public void ActionComplete(ActionEventArgs<GardenData> args)
    {
        if (args.RequestType == Syncfusion.Blazor.Grids.Action.Save)
        {
            Console.WriteLine("Save: ", args);
            if (args.Action == "Add")
            {
                GardenData g = args.Data;
                g.UserID = loggedInUser!.UserID;
                GardenService.PostGarden(g);
            }
            else if (args.Action == "Edit")
            {
                GardenData g = args.Data;
                g.UserID = loggedInUser!.UserID;
                GardenService.EditGarden(g);
            }
            // Triggers once save operation completes
        }
        else if (args.RequestType == Syncfusion.Blazor.Grids.Action.Delete)
        {
            GardenService.DeleteGarden(args.Data.GardenID);
            // Triggers once delete operation completes
        }
    }
}