@page "/gardens"
@using System.Net.Sockets
@using System.Text.Json
@using System.Text.Json.Serialization
@inject IHttpClientFactory ClientFactory


<h3 class="text-info">Gardens</h3><br>

<div class="row">
    <div class="input-group col">
        <div class="input-group-prepend">
            <div class="input-group-text">Garden Search</div>
        </div>
        <input type="text" class="form-control" placeholder="Input Garden" aria-label="Input Garden">
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-outline-info" onclick="createGarden">New Garden</button>
    </div>
</div>

@if (getgardenError)
{
    <p>Unable to get gardens from Smarden_API.
        <br> Please try again later or
        <br>Keep refreshing it work eventually.
        @for (int i = 0; i < 1000; i++)
        {
            <sub>right? </sub>
        }
    </p>

}
else
{
    <TableTemplate Items="gardens" Context="garden">
        <TableHeader>
            <th>GardenID</th>
            <th>Name</th>
            <th>UserID</th>
        </TableHeader>
        <RowTemplate>
            <td>@garden.GardenID</td>
            <td>@garden.Name</td>
            <td>@garden.UserID</td>
        </RowTemplate>

    </TableTemplate>
}

@code {
    private IEnumerable<GardenData> gardens = Array.Empty<GardenData>();
    private bool getgardenError;
    private bool shouldRender;

    protected override bool ShouldRender() => shouldRender;

    protected override async Task OnInitializedAsync()
    {

        var request = new HttpRequestMessage(HttpMethod.Get,
        "https://localhost:7137/api/garden");

        var client = ClientFactory.CreateClient();

        HttpResponseMessage response = new HttpResponseMessage();
        try
        {
            response = await client.SendAsync(request);
        }
        catch (Exception e)
        {
            getgardenError = true;
        }
        finally
        {
            if (!getgardenError)
            {
                using var responseStream = await response.Content.ReadAsStreamAsync();
                gardens = await JsonSerializer.DeserializeAsync
                <IEnumerable<GardenData>>(responseStream);
            }
            else
            {
                getgardenError = true;
            }

            shouldRender = true;
        }
    }

    public class GardenData
    {
        [JsonPropertyName("gardenId")]
        public int GardenID { get; set; }
        [JsonPropertyName("gardenName")]
        public string? Name { get; set; }
        [JsonPropertyName("userId")]
        public int UserID { get; set; }
    }
}