@page "/plants"

@using System.Text.Json
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Grids
@using SmardenV3.Data
@inject IHttpClientFactory ClientFactory

@inject IPlantService PlantService


@{
    var InitSearch = (new string[] { "PlantID", "Name" });
    var Tool = (new List<string>() { "Search" });
}


<h3 class="text-info">Plants</h3><br>



<SfGrid DataSource="@plants" AllowPaging="true" AllowSorting="true"
    Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Cancel", "Update", "Search" })">
    <GridSearchSettings Fields=@InitSearch Operator=Syncfusion.Blazor.Operator.Contains IgnoreCase="true">
    </GridSearchSettings>
    <GridEditSettings AllowEditing="true" AllowAdding="true" AllowDeleting="true"></GridEditSettings>
</SfGrid>



@code {

    private IEnumerable<PlantData> plants = Array.Empty<PlantData>();
    protected override async Task OnInitializedAsync()
    {
        plants = await PlantService.GetPlants();
    }
}