@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to Smarden!</h1>
<p>Smarden is a smart garden tracker for hobbyist gardeners. With Smarden, you can track the progress of your plants and
    monitor their growth, so you can keep your garden healthy and thriving.</p>
<p>Get started by signing up for an account and adding your plants to your virtual garden. Then, you can track your
    plants' progress, monitor their health, and get tips and advice on how to keep your garden in top shape.</p>
<p>We hope you enjoy using Smarden, and happy gardening!</p>