@inherits LayoutComponentBase
@using SmardenV3.Shared.logInNOut.LogOutPartial
@using SmardenV3.Data
@inject ProtectedSessionStorage ProtectedSessionStore


<PageTitle>SmardenV3</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row nav-item px-3">
            @if (loggedInUser != null)
            {
                <h3 class="p-3 mt-2">@loggedInUser.CustomerName</h3>
                @* TODO: Logout button *@
                <LogOutPartial />
            }
            else
            {
                <NavLink class="nav-link" href="/login" Match="NavLinkMatch.All">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Login / Sign Up
                </NavLink>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    UserData? loggedInUser = null;
    protected override async Task OnParametersSetAsync()
    {
        var result = await ProtectedSessionStore.GetAsync<UserData>("user");
        loggedInUser = result.Success ? result.Value : null;
    }

}