@using SmardenV3.Data
@inject IUserService UserService

@namespace SmardenV3.Shared.SigninPartial

<div id="login-error-msg-holder">
    <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
</div>

<div id="login-form">
    <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username" @bind="getUserInfo.UserName"/>
    <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password" @bind="getUserInfo.Password"/>
    <button onclick="AttemptLogin">Login</button>
</div>

<p>@user</p>

@code {
    Task<HttpResponseMessage> user;
    private LoginData getUserInfo = new LoginData{};
    @* protected override async Task OnInitializedAsync()
    {
    } *@
    private void AttemptLogin(LoginData getUserInfo)
    {
        user = UserService.LoginUser(getUserInfo);
    }
}