@using SmardenV3.Data
@inject IUserService UserService

@namespace SmardenV3.Shared.SigninPartial

<div id="login-error-msg-holder">
    <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
</div>

<form id="login-form">
    <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
    <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
    <button onclick="">Login</button>
</form>

@foreach (var user in users)
{
    @user.CustomerName;
}

@code {

    private IEnumerable<UserData> users = Array.Empty<UserData>();
    protected override async Task OnInitializedAsync()
    {
        users = await UserService.GetUsers();
    }
}